body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}





.login{
    background-color: aliceblue;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}












